<!DOCTYPE html>
<html>
<head>
    <title>AUTOBUS</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="estilos.css")}}">

</head>
<body>
    <form action="/busform", method="POST">
    <div class="ventana">
        <div class="fondo">
            <h1 class="label">AUTOBUS</h1>

            <div class="form-row">
                <label for="marca">Marca</label>
                <input type="text" id="marca" class="input-field" name="marca" required>
            </div>

            <div class="form-row">
                <label for="modelo">Modelo</label>
                <input type="text" id="modelo" class="input-field" name="modelo" required>
            </div>

            <div class="form-row">
                <label for="matricula">Matricula</label>
                <input type="text" id="matricula" class="input-field" name="matri" required>
            </div>

            <div class="form-row">
                <label for="asientos">N de asientos</label>
                <input type="text" id="asientos" class="input-field" name="asientos" required>
            </div>

            <div class="form-row">
                <label for="tanque">Capacidad de tanque</label>
                <input type="text" id="tanque" class="input-field-small" name="tanque" required>
            </div>


            <div class="button-container">

                <a href="/ventana"><button class="btn btn-regresar" id="btnatoreg">Regresar</button></a>

                <button class="btn btn-asignar" id="btnatasigdato" type="submit">Asignar Autobus</button>
            </div>

        </div>
    </div>
    </form>
</body>
</html>
