<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="estilos.css")}}">
    <title>Registro Exitoso</title>
</head>
<body>
    <body>
        <div class="window-notice" id="window-notice">
            <div class="content">
                <div class="content-text">Se ha registrado correctamente.</div> 
                
                <div class="content-buttons"><a href="/ventana" id="close-button">Aceptar</a></div>
            </div>
        </div>
    </body>
</body>
</html>