{% extends 'plantilla.html' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Rutas registradas</h1>
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Numero</th>
                            <th>Nº Paradas</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ruta in lsRutas%}
                        <tr>
                            <td> {{ruta.0}} </td>
                            <td> {{ruta.1}} </td>
                            <td> {{ruta.2}} </td>
                            <td> {{ruta.3}} </td>                            
                            <td>
                                {% if ruta.0 > 6 %}
                                <a href="/editaruta/{{ruta.0}}" class="btn btn-warning">Editar</a>
                                <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Eliminar" data-id="{{ruta.0}}">Eliminar</a>
                                <!-- Modal para eliminar -->
                                <div class="modal fade" id="Eliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Registro</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro que desea eliminar el registro?
                                        </div>
                                        <div class="modal-footer">
                                        <a href="/eliminaruta/{{ruta.0}}" class="btn btn-danger">Eliminar</a>    
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>                                            
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                {% else %}
                                <a href="" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Ver paradas</a>


                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Paradas</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                En proceso
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>                                            
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    

                                {% endif %}
                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    

    


{% endblock %}